/* Biblioteca de seletores, os seletores aqui descritos e suas propriedades, são para formatar com mais precisão e qualidade a pagina criada  */

/* container ajusta o layout no grid*/
.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*fim*/

/* Reset geral */
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}
ul {
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/*fim*/

/* seletores de fontes (alterar apenas fonte e não propriedades) */
.font-1-xs {
 font: 600 0.75rem/1.33 "Poppins";
}
.font-2-xs {
 font: 400 0.7rem/1.42 "Roboto";
}
.font-2-s {
 font: 400 1.5rem/1.5 "Roboto";
}
.font-1-s {
 font: 400 1.5rem/1.5 "Poppins";
}
.font-1-m-b {
 font-weight: 600;
}
.font-1-m,
.font-1-m-b  {
 font: 400 1.25rem/1.35  "Poppins;
}
.font-2-l-b {
 font-weight: 500;
 letter-spacing: 0.015em;
 text-transform: uppercase;
}
.font-2-l,
.font-2-l-b {
 font: 400 1.5rem/1.5 "Roboto";
}
.font-1-l {
 font: 400 1.5em/1.5 "Poppins";
}
.font-1-xl {
 font: 600 2rem/1.25 "Poppins";
}
.font-1-xxl {
 font: 600 4rem/1.25 "Poppins";
}
.font-2-m {
 font: 500 1.125rem/1.35 "Roboto";
}
/*fim*/

/* Breakpoints */

@media (max-width:800px){}
@media (max-width:600px){}
@media (max-width:400px){}

/*fim*/